<manifest package="blibli.mobile.materialcalendarview"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".MaterialCalendarViewInitProvider"
            android:authorities="${applicationId}.materialcalendarviewinitprovider"
            android:enabled="true"
            android:exported="false"
            />
    </application>

</manifest>
